* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

.home-section {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1434596922112-19c563067271?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    animation: slideBg 20s linear infinite 0s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
}

@keyframes slideBg {
    0% { background-image: url('https://images.unsplash.com/photo-1434596922112-19c563067271?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); }
    25% { background-image: url('https://images.unsplash.com/photo-1565349478421-5e1abedadbec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); }
    55% { background-image: url('https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); }
    85% { background-image: url('https://images.unsplash.com/photo-1517931524326-bdd55a541177?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); }
}



.home-title {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
    padding: 1%;
    border: 2px solid white;
}

.nav-foot-style {
    background-color: black;
    color: white;
}

nav {
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
}

footer {
    position: static;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}


nav a {
    text-transform: uppercase;
    border: 1px solid white;
    font-size: large;
    font-weight: 800;
    padding: 6px 30px;
    margin: 20px;
}

.index-section {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color: #dbe7d5;
}

.sec-none {
    display: none;
}

.item-box {
    margin: 5px;
    background-color: black;
    width: 250px;
    height: 200px;
}

.index-section h2 {
    text-align: center;
}

.ex-container {
    border: 2px solid black;
    height: 70vh;
    width: 48%;
    margin-right: 20px;
}


.wo-container {
    background-color: black;
    color: white;
    width: 45%;   
}

/* Beginning Add Exercise section  */

.add-ex-sect {
    height: 80vh;
    background-color: #b1c493;
}


.form-container input {
    height: 30px;
    text-align: center;
    margin: 10px;
}

.form-container select {
    height: 30px;
    text-align: center;
    margin: 10px;
}

.form-container {
 align-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgprompt {
    border: 1px solid rgb(63, 63, 63);
    background-color: white;
    color: black;
    max-width: fit-content;
    padding: 5px 20px;
    margin: 10px auto;
    border-radius: 5px;
}

button {
    max-width: fit-content;
    padding: 5px 20px;
    border-radius: 5px;
    margin: auto;
}

/* End of Add Exercise section  */
/* Build Workout section  */

.build-work-section {
    background-color: rgb(211, 168, 115);
    height: 80vh;
}

.build-title {
    font-size: 40px;
    text-align: center;
}

/* End of Build Workout section  */